.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container::-webkit-scrollbar {
  width: 8px;
}

.content-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.content-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.floating-button:hover {
  background-color: #0056b3;
}

body.dark .floating-button {
  background-color: #1d4ed8;
}

body.dark .floating-button:hover {
  background-color: #2563eb;
}
