.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
